<aside>
    <section>
        <ul class="list-group list-group-flush">
            {% if SOCIAL %}
                <li class="list-group-item"><h5><i class="icon-home icon-large"></i>Social</h5></li>
                {% for name, link in SOCIAL %}
                    <li class="list-group-item"><a href="{{ link }}"><i
                            class="icon-{{ name }}-sign"></i>{{ name }}
                    </a></li>
                {% endfor %}
            {% endif %}

            {# Uncomment if you want to show Categories #}

            {#    <li class="list-group-item"><h4><i class="icon-home icon-large"></i>Categories</h4></li>#}
            {#    {% for cat, null in categories %}#}
            {#        <li class="list-group-item">#}
            {#            <a href="{{ SITEURL }}/{{ cat.url }}">#}
            {#                <i class="icon-folder-open icon-large"></i>{{ cat }}#}
            {#            </a>#}
            {#        </li>#}
            {#    {% endfor %}#}

            <li class="list-group-item"><a href="{{ SITEURL }}/tags.html"><h5><i class="icon-tags icon-large"></i>Popular Tags</h5></a></li>
            {% for tag in tag_cloud|sort(attribute='1') %}
             <!--   <li class="list-group-item tag-{{ tag.1 }}"> -->
            <li class="list-group-item">
             
              <a href="{{ SITEURL }}/{{ tag.0.url }}">
                {{ tag.0 }}</a>
               <span class="badge">
                 {% for t,a in tags %}
                 {% if t in tag %}
                 {# {{ t }}:{{ a|length }} | #}
                 {{ a|length|trim }}
                 {% endif %}
                 {% endfor %}
            </span>
            </li>
            {% endfor %}
        </ul>
    </section>
    {% include 'includes/github.html' %}
</aside>
