<aside>
    <section>
     <!--  <div class="well">
        <div class="list-group">
          <form  class="navbar-form" role="search" action="http://www.google.com/search" method="get">
            <div class="input-group">
              <input class="form-control" type="search" placeholder="Search..." name="q" id="search">
              <input value="tutysara.github.com" name="sitesearch" type="hidden">
            </div>
          </form>
        </div>
      </div> -->
      <div class="well">
        <div class="list-group">
      
          {% if SOCIAL %}
          <h5 class="list-group-item-heading"><i class="icon-home icon-large"></i>Social</h5>
               {% for name, link in SOCIAL %}
                    <a class="list-group-item" href="{{ link }}"><i
                            class="icon-{{ name }}-sign"></i>{{ name }}
                    </a>
                {% endfor %}
            {% endif %}
       
         </div>
      </div>
            {# Uncomment if you want to show Categories #}

            {#    <li class="list-group-item"><h4><i class="icon-home icon-large"></i>Categories</h4></li>#}
            {#    {% for cat, null in categories %}#}
            {#        <li class="list-group-item">#}
            {#            <a href="{{ SITEURL }}/{{ cat.url }}">#}
            {#                <i class="icon-folder-open icon-large"></i>{{ cat }}#}
            {#            </a>#}
            {#        </li>#}
            {#    {% endfor %}#}
      <div class="well">
        <div class="list-group">
           <h5 class="list-group-item-heading"><i class="icon-tags icon-large">
                   </i>Popular Tags</h5>
            {% for tag in tag_cloud|sort(attribute='1') %}
             <!--   <li class="list-group-item tag-{{ tag.1 }}"> -->
           
             
              <a class="list-group-item" href="{{ SITEURL }}/{{ tag.0.url }}">
                {{ tag.0 }}
               <span class="badge pull-right">
                 {% for t,a in tags %}
                 {% if t in tag %}
                 {# {{ t }}:{{ a|length }} | #}
                 {{ a|length|trim }}
                 {% endif %}
                 {% endfor %}
            </span></a>
           
             {% endfor %}
          
             <a class="list-group-item" href="{{ SITEURL }}/tags.html">All tags</a>
          
        </div>
      </div>
    </section>
    {% include 'includes/github.html' %}
</aside>
